{% include 'header.html' %}
<div class="container row text-center">

    <div class="col-4 col-md-3 col-lg-4 card p-2" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/tapa_primero.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Primero de primaria</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-4 card p-2" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/tapa_segundo.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Segundo de primaria</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-4 card p-2" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/tapa_tercero.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tercero de primaria</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-4 card p-2" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/tapa_cuarto.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cuarto de primaria</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-4 card p-2" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/tapa_quinto.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Quinto de primaria</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-4 card p-2" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/tapa_sexto.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sexto de primaria</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
{% include 'footer.html' %}